---
layout: default
---
<!-- 
<select class="form-select" multiple aria-label="multiple select example">
  {% assign unique_tags =  site.posts | map: 'tags' | join: ',' | join: ',' | split: ',' | uniq | sort %}
	{% for tag in unique_tags  %}
	<option value="{{ tag }}">{{ tag }}</option>
	{% endfor %}
</select> -->

  
  {% assign id = 0 %}
  {% for post in site.posts %}
    {% assign id = id | plus:1 %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>      
      
      <div id="block_container">
        {% if post.paperurl %}
            <div id="bloc1">
              <a href=" {{ post.paperurl }} " class="btn btn-info" role="button"> Paper </a>
            </div>  
        {% endif %}
        <div id="bloc2">
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ post.title }}" aria-expanded="false" aria-controls="{{ post.title }}">
                See More
              </button>
	      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
	    		Button with data-bs-target
	      </button>
            </p>
        </div>  
        <div id="bloc3">
          <span>[
            {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
          ]</span>
        </div>
    
      </div>
        
      <div class="collapse" id="{{ id }}">
              <div class="entry">
                {{ post.excerpt }}
              </div>
       </div>
      
    </article>
  {% endfor %}
  
  
  <script src="https://utteranc.es/client.js"
        repo="ScoreBasedGenerativeModeling/scorebasedgenerativemodeling.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
