---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>      
      <button type="button" class="collapsible">See More</button>
      <div class="content">
        <div class="entry">
          {{ post.excerpt }}
        </div>
      </div>
      
      
      {% if post.paperurl %}
      <div id="block_container">

          <div id="bloc1">
              <p><a href=" {{ post.paperurl }} "><u>Paper</u></a></p>
          </div>  
          <div id="bloc2">
            <span>[
              {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
              {% endfor %}
            ]</span>
          </div>

      </div>
      {% else %}
          <span>[
            {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
            {% endfor %}
          ]</span>

     {% endif %}
      
      

    </article>
  {% endfor %}
  
  
  <script src="https://utteranc.es/client.js"
        repo="ScoreBasedGenerativeModeling/scorebasedgenerativemodeling.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</div>
